* {
  font-family: "Montserrat", sans-serif;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --bg-color: #0A192F;
  --primary-color: #009ed9;
  --secondary-color: #fef9fe;
  --accent-color: #112240;
  --action-color: #398cc7;
  --support-color: #f8b62c;
}

body {
  background: var(--bg-color);
  overflow-x: hidden;
  letter-spacing: 0.2rem;
}

/* One for all */
.panel {
  min-height: 100vh;
}

.emphasis {
  color: var(--support-color);
}

.title {
  color: var(--primary-color);
  margin: 10px auto;
}

.sub-title {
  color: var(--secondary-color);
  margin: 10px auto;
}

.mute {
  color: var(--secondary-color);
  opacity: 50%;
}

.title-underline {
  height: 2px;
  width: 150px;
  background-color: var(--support-color);
  margin: 10px auto;
}

.button {
  background-color: var(--action-color);
  color: var(--secondary-color);
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--support-color);
}

.border {
  border-color: var(--support-color);
}

/* Introduction */
#introduction {
  color: var(--secondary-color);
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#introduction .bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
  opacity: 50%;
}

#introduction .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  background: var(--bg-color);
  mix-blend-mode: overlay;
}

#introduction .avatar-container {
  text-align: center;
}

#introduction .avatar {
  transition: 0.3s;
  position: relative; /* Added this */
  z-index: 1;
}

#introduction .avatar:hover {
  transform: scale(1.05);
  transform-origin: bottom;
  z-index: 2;
}

#introduction .avatar-bar {
  height: 10px;
  width: 500px;
  margin: auto;
  background-color: var(--support-color);
  position: relative; /* Added this */
  z-index: 3;
}

.circle-container {
  position: absolute;
  /* Width/height set dynamically via JS */
  animation-name: move-up;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: radial-gradient(hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%);
  mix-blend-mode: screen;
  animation: fade-frames 2000ms infinite, scale-frames 2000ms infinite;
}

@keyframes fade-frames {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

@keyframes scale-frames {

  0%,
  100% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(2.2);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-130vh);
    opacity: 0;
  }
}

/* About Me */
#about {
  color: var(--secondary-color);
  min-height: 700px;
  width: 100%;
  font-size: 1.2rem;
}

#about ul {
  list-style-type: none;
}

/* Experiences */
#experiences p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.01rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.accordion-container {
  overflow: hidden;
}

#experiences .accordion-button,
.accordion-item {
  background-color: var(--accent-color);
}

/* footer */
#footer {
  color: var(--secondary-color);
}

#footer .btn {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

#footer .btn:hover {
  color: var(--primary-color);
}